<a href="https://colab.research.google.com/github/rroszczyk/ecdl_python/blob/main/ecdl_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
mojPIN = 1234
moj_pin = 1234

In [2]:
mojeImie = "Radosław"
moje_imie = "Radosław"
MojeImie = "Radosław"       # złe, obiekt
myFirstName = "Radosław"
MOJE_IMIE = "Radosław"      # złe - stałe, nie zmienne

In [12]:
# dla iteratorów nazwy zmiennych dobre to np: i, j, k, l, m, n, o, x, y, z
for i in range(100):
  for j in range(100):
    pass

In [3]:
imiona = ['Alicja', 'Basia', 'Cecylia', 'Dorota']

for imie in imiona:
  print(f"{imie}")

Alicja
Basia
Cecylia
Dorota

In [5]:
def funkcja(aParametr):
  parametr = aParametr
  print(f"parametr wywyołania to: {parametr}")

funkcja("Piotr")

parametr wywyołania to: Piotr

```
wczytaj("podaj wzrost")
jeżeli wzrost > 160
  jeżeli wzrost > 180
    wypisz("wybrano rozmiar L")
  jeśli_nie
    wypisz("wybrano rozmiar M")
  koniec_jeżeli
jeśli_nie
  wypisz("wybrano rozmiar S")
koniec_jeżeli
```

In [ ]:
a = True
b = False
c = True

w = a + b * c

w = a and b or c

if (a and b or c):      # w nawiasie wyrażenie logiczne
  pass

In [9]:
a = False

if a:
  pass
else:
  print("nie a")

nie a

In [15]:
def wczytajImie():
  pass

def wczytajNazwisko():
  pass


print(f"{wczytajImie()} {wczytajNazwisko()}")

None None

In [27]:
imiona = ['Alicja', 'Basia', 'Cecylia', 'Dorota']

for imie in imiona:     # dla kolekcji policzalnych
  print(f"{imie}")


liczba = 100

while liczba > 0:       # dla elementów niepoliczalnych
  print(".", end="")
  liczba = liczba - 7
print()

print(f"Lista 'imiona' zawiera {len(imiona)} imiona:")

i = 0
while i < len(imiona):  # równoważna pętli for z linii 3
  print(f"{imiona[i]}")
  i += 1

Alicja
Basia
Cecylia
Dorota
...............
Lista 'imiona' zawiera 4 imiona:
Alicja
Basia
Cecylia
Dorota

In [46]:
def funkcja(parametr):
  if (parametr > 1):
    funkcja(parametr - 1)
    print(parametr, end=", ")
  else:
    print(f"ostatnia wartość to: {parametr}", end=", ")

In [45]:
def funkcja_odwrotna(parametr):
  if (parametr > 1):
    print(parametr, end=", ")    
    funkcja_odwrotna(parametr - 1)
  else:
    print(f"ostatnia wartość to: {parametr}", end=", ")

In [47]:
funkcja(100)
print()
funkcja_odwrotna(100)
print()

ostatnia wartość to: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100,
100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, ostatnia wartość to: 1,

In [48]:
warunek = True

if warunek:
  pass

if 5 > 3:
  pass

In [54]:
def a(parametr):
  print(f"funkcja a: {parametr}")
  return f"a: {parametr}"

def b(parametr):
  print(f"funkcja b: {parametr}")
  return f"b: {parametr}"  

def c(parametr):
  print(f"funkcja c: {parametr}")
  return f"c: {parametr}"  

def d(parametr):
  print(f"funkcja d: {parametr}")      
  return f"d: {parametr}"  

z = a(b(c(d("Anna"))))

funkcja d: Anna
funkcja c: d: Anna
funkcja b: c: d: Anna
funkcja a: b: c: d: Anna

In [57]:
def funkcja(parametr):
  return parametr

def procedura(parametr):
  print(f"procedura: {parametr}")


print(f"{funkcja('anna')}")
print(f"{procedura('anna')}")

anna
procedura: anna
None

In [59]:
if True:
  pass