<a href="https://colab.research.google.com/github/rroszczyk/ecdl_python/blob/main/ecdl_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Myślenie komputacyjne to:
1. Myślenie o komputerach i ile one kosztują
2. **Analizowanie problemów i znajdowanie możliwych rozwiązań.**
3. Używanie kalkulatora do obliczania wartości wyrażeń matematycznych
4. Sprawdzanie błędów w programie przed jego wersjonowaniem

Pojęcie kod maszyowy oznacza:
1. **Ciąg zer i jedynek utworzony z kodu źródłowego.**
2. Graficzny sposób reprezentacji algorytmu
3. Kilka prostych instrukcji, które należy wykonać jedna po drugiej
4. Opis objaśniający co program powinien robić i jak działać

Proces jasno określający problemy, które mają zostać rozwiązane podczas tworzenia nowego programu nazywamy:
1. **Analizowanie**
2. Projektowanie
3. Programowanie
4. Wprowadzanie poprawek

10, "napis", ('ala', 'ma', 'kota'), True

In [1]:
zmienna = 10
print(type(zmienna))
print(id(zmienna))

<class 'int'>
93995368303392

In [2]:
zmienna = "napis"
print(type(zmienna))
print(id(zmienna))

<class 'str'>
140487055705968

In [3]:
zmienna = 3.14
print(type(zmienna))
print(id(zmienna))

<class 'float'>
140487132304784

In [4]:
zmienna = True
print(type(zmienna))
print(id(zmienna))

<class 'bool'>
93995367629056

In [5]:
zmienna = ('ala', 'ma', 'kota')
print(type(zmienna))
print(id(zmienna))

<class 'tuple'>
140487091693360

In [6]:
zmienna = ['ala', 'ma', 'kota']
print(type(zmienna))
print(id(zmienna))

<class 'list'>
140486920394224

In [7]:
zmienna = {"imie": "ala", "zwierze": "kot"}
print(type(zmienna))
print(id(zmienna))

<class 'dict'>
140486919612608

In [8]:
krotka = ('ala', 'ma', 'kota')
lista = ['ala', 'ma', 'kota']
slownik = {"imie": "ala", "zwierze": "kot"}      # klucz - "imię" -> wartość -> "ala"

In [12]:
print(krotka[1])
print(lista[2])
print(slownik["zwierze"])

ma
kota
kot

In [17]:
a = 10 > 5
print(a)

True

In [18]:
if 10 > 5:
  print("Ala ma kota")

Ala ma kota

In [20]:
zmienna = 2
if zmienna > 5:
  print("Ala ma kota")
else:
  print("Ala ma psa")

Ala ma psa

```
if (warunek):
  blok_kodu
  pierwsza_instrukcja_bloku
  druga_instrukcja_bloku
else:
  drugi_blok_kodu
  pierwsza_instrukcja_drugiego_bloku
  druga_instrukcja_drugiego_bloku  
```

In [24]:
zmienna = int(input("Podaj liczbę: "))
if zmienna > 5:
  print("Ala ma kota")
else:
  print("Ala ma psa")

Podaj liczbę: 2
Ala ma psa

In [25]:
zmienna = "5"
liczba = int(zmienna)
print(f"{zmienna}, {liczba}")

5, 5

f"dowolnym napisem {fragment_kodu_w_pythonie}"

In [30]:
t = "liczba: {zmienna}"       # zwykły napis
print(t)
s = f"liczba: {zmienna}"      # f-string
print(s)
print(zmienna)
print(type(s))

liczba: {zmienna}
liczba: 5
5
<class 'str'>

In [37]:
liczba = .6               # 3.14, 5., .6
print(f"zmienna o nazwie: liczba, jest typu: {type(liczba)} i ma wartość: {liczba}")

zmienna o nazwie: liczba, jest typu: <class 'float'> i ma wartość: 0.6

In [38]:
liczba = float(5)
print(f"zmienna o nazwie: liczba, jest typu: {type(liczba)} i ma wartość: {liczba}")

zmienna o nazwie: liczba, jest typu: <class 'float'> i ma wartość: 5.0

In [39]:
liczba = int(3.14)
print(f"zmienna o nazwie: liczba, jest typu: {type(liczba)} i ma wartość: {liczba}")

zmienna o nazwie: liczba, jest typu: <class 'int'> i ma wartość: 3

In [42]:
znak = "A"
print(ord(znak))      # ord -> konwersja znaku na jego indeks w tabeli ASCII
print(chr(67))        # chr -> konwersja liczby (indeksu) na znak z tabeli ASCII

65
C

In [49]:
liczby = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for liczba in liczby:
  print(f"{liczba} ", end="")

1 2 3 4 5 6 7 8 9

In [44]:
napis = "Ala ma kota"

for znak in napis:
  print(znak)

A
l
a

m
a

k
o
t
a

In [78]:
for y in range(0, 16):                    # 17 = 16 + 1     33 = 32 + 1   32 = 16 * 2
  for x in range(1, 17):
    idx = y * 16 + x                      # idx = y * 16 + x
    if (idx < 10):
      print(" ", end='')
    if (idx < 100):
      print(" ", end='')
    if idx in [8, 9, 10, 13]:
      print(f"{idx}: '-' ", end='')
    else:
      print(f"{idx}: '{chr(idx)}' ", end='')
  print("")

  1: ''   2: ''   3: ''   4: ''   5: ''   6: ''   7: ''   8: '-'   9: '-'  10: '-'  11: ''  12: ''  13: '-'  14: ''  15: ''  16: ''
 17: ''  18: ''  19: ''  20: ''  21: ''  22: ''  23: ''  24: ''  25: ''  26: ''  27: ''  28: ''  29: ''  30: ''  31: ''  32: ' '
 33: '!'  34: '"'  35: '#'  36: '$'  37: '%'  38: '&'  39: '''  40: '('  41: ')'  42: '*'  43: '+'  44: ','  45: '-'  46: '.'  47: '/'  48: '0'
 49: '1'  50: '2'  51: '3'  52: '4'  53: '5'  54: '6'  55: '7'  56: '8'  57: '9'  58: ':'  59: ';'  60: '<'  61: '='  62: '>'  63: '?'  64: '@'
 65: 'A'  66: 'B'  67: 'C'  68: 'D'  69: 'E'  70: 'F'  71: 'G'  72: 'H'  73: 'I'  74: 'J'  75: 'K'  76: 'L'  77: 'M'  78: 'N'  79: 'O'  80: 'P'
 81: 'Q'  82: 'R'  83: 'S'  84: 'T'  85: 'U'  86: 'V'  87: 'W'  88: 'X'  89: 'Y'  90: 'Z'  91: '['  92: '\'  93: ']'  94: '^'  95: '_'  96: '`'
 97: 'a'  98: 'b'  99: 'c' 100: 'd' 101: 'e' 102: 'f' 103: 'g' 104: 'h' 105: 'i' 106: 'j' 107: 'k' 108: 'l' 109: 'm' 110: 'n' 111: 'o' 112: 'p'
113: 'q' 114: 'r' 115: 's' 116: 't' 117: 'u' 118: 'v' 119: 'w' 120: 'x' 121: 'y' 122: 'z' 123: '{' 124: '|' 125: '}' 126: '~' 127: '' 128: ''
129: '' 130: '' 131: '' 132: '' 133: '' 134: '' 135: '' 136: '' 137: '' 138: '' 139: '' 140: '' 141: '' 142: '' 143: '' 144: ''
145: '' 146: '' 147: '' 148: '' 149: '' 150: '' 151: '' 152: '' 153: '' 154: '' 155: '' 156: '' 157: '' 158: '' 159: '' 160: ' '
161: '¡' 162: '¢' 163: '£' 164: '¤' 165: '¥' 166: '¦' 167: '§' 168: '¨' 169: '©' 170: 'ª' 171: '«' 172: '¬' 173: '­' 174: '®' 175: '¯' 176: '°'
177: '±' 178: '²' 179: '³' 180: '´' 181: 'µ' 182: '¶' 183: '·' 184: '¸' 185: '¹' 186: 'º' 187: '»' 188: '¼' 189: '½' 190: '¾' 191: '¿' 192: 'À'
193: 'Á' 194: 'Â' 195: 'Ã' 196: 'Ä' 197: 'Å' 198: 'Æ' 199: 'Ç' 200: 'È' 201: 'É' 202: 'Ê' 203: 'Ë' 204: 'Ì' 205: 'Í' 206: 'Î' 207: 'Ï' 208: 'Ð'
209: 'Ñ' 210: 'Ò' 211: 'Ó' 212: 'Ô' 213: 'Õ' 214: 'Ö' 215: '×' 216: 'Ø' 217: 'Ù' 218: 'Ú' 219: 'Û' 220: 'Ü' 221: 'Ý' 222: 'Þ' 223: 'ß' 224: 'à'
225: 'á' 226: 'â' 227: 'ã' 228: 'ä' 229: 'å' 230: 'æ' 231: 'ç' 232: 'è' 233: 'é' 234: 'ê' 235: 'ë' 236: 'ì' 237: 'í' 238: 'î' 239: 'ï' 240: 'ð'
241: 'ñ' 242: 'ò' 243: 'ó' 244: 'ô' 245: 'õ' 246: 'ö' 247: '÷' 248: 'ø' 249: 'ù' 250: 'ú' 251: 'û' 252: 'ü' 253: 'ý' 254: 'þ' 255: 'ÿ' 256: 'Ā'

In [73]:
znak = chr(9)                       # tabulator
print(f"{ord(znak)}, '{znak}'")

znak = chr(8)                       # backspace
print(f"{ord(znak)}, '{znak}'")

znak = chr(10)                      # LF line feed (przejście do nowego wiersza w systemie UNIX)
print(f"{ord(znak)}, '{znak}'")

znak = chr(13)                      # CR cartridge return (powrót karetki) - razem z CRLF w Windows znak końca wiersza
print(f"{ord(znak)}, '{znak}'")

9, '	'
8, ''
10, '
'
'

In [75]:
print("tabulator: '\t'")
print("znak nowego wiersza: '\n'")

tabulator: '	'
znak nowego wiersza: '
'

In [93]:
slownik = {"1": "Adrian", "2": "Joanna", "3": "Karol", "4": "Kuba", "5": "Małgorzata", "6": "Paweł", "7": "Piotr"}

for element in slownik.items():           # ze słownika wyjmujemy tuple
  print(f"{type(element)}, {element}")

for (k, v) in slownik.items():            # ze słownika wyjmujemy rozpakowane tuple do zmiennych k, v
  print(f"klucz: {k}, wartość: {v}")

for k in slownik.keys():                  # ze słownika wyjmujemy klucze
  print(f"{type(k)}, {k}")

for v in slownik.values():                # ze słownika wyjmujemy wartości
  print(f"{type(v)}, {v}")

<class 'tuple'>, ('1', 'Adrian')
<class 'tuple'>, ('2', 'Joanna')
<class 'tuple'>, ('3', 'Karol')
<class 'tuple'>, ('4', 'Kuba')
<class 'tuple'>, ('5', 'Małgorzata')
<class 'tuple'>, ('6', 'Paweł')
<class 'tuple'>, ('7', 'Piotr')
klucz: 1, wartość: Adrian
klucz: 2, wartość: Joanna
klucz: 3, wartość: Karol
klucz: 4, wartość: Kuba
klucz: 5, wartość: Małgorzata
klucz: 6, wartość: Paweł
klucz: 7, wartość: Piotr
<class 'str'>, 1
<class 'str'>, 2
<class 'str'>, 3
<class 'str'>, 4
<class 'str'>, 5
<class 'str'>, 6
<class 'str'>, 7
<class 'str'>, Adrian
<class 'str'>, Joanna
<class 'str'>, Karol
<class 'str'>, Kuba
<class 'str'>, Małgorzata
<class 'str'>, Paweł
<class 'str'>, Piotr

In [95]:
slownik = {"1": "Adrian", "2": "Joanna", "3": "Karol", "4": "Kuba", "5": "Małgorzata", "6": "Paweł", "7": "Piotr"}

lista = list(slownik.keys())          # rzutowanie typu lista_kluczy na listę

<class 'list'>

In [100]:
zmienna = 10
print(f"zmienna typ: {type(zmienna)}, adres: {id(zmienna)}, wartość: {zmienna}")

zmienna typ: <class 'int'>, adres: 93995368303392, wartość: 10

In [101]:
druga_zmienna = zmienna
print(f"zmienna typ: {type(zmienna)}, adres: {id(zmienna)}, wartość: {zmienna}")
print(f"zmienna typ: {type(druga_zmienna)}, adres: {id(druga_zmienna)}, wartość: {druga_zmienna}")

zmienna typ: <class 'int'>, adres: 93995368303392, wartość: 10
zmienna typ: <class 'int'>, adres: 93995368303392, wartość: 10

In [102]:
zmienna = 100
print(f"zmienna typ: {type(zmienna)}, adres: {id(zmienna)}, wartość: {zmienna}")
print(f"zmienna typ: {type(druga_zmienna)}, adres: {id(druga_zmienna)}, wartość: {druga_zmienna}")

zmienna typ: <class 'int'>, adres: 93995368306272, wartość: 100
zmienna typ: <class 'int'>, adres: 93995368303392, wartość: 10

In [103]:
a = 10
b = 3

c = a / b   # dzielenie zmiennoprzecionkowe
d = a % b   # reszta z dzielenia
e = a // b  # dzielenie całkowite bez reszty e = int(a / b)

print(f"a: {a}, b: {b}, c: {c}, d: {d}, e: {e}")

a: 10, b: 3, c: 3.3333333333333335, d: 1, e: 3

In [105]:
i = 0
while i <= 10:
  print(f"aktualna wartość i to: {i}")
  i = i + 1

aktualna wartość i to: 0
aktualna wartość i to: 1
aktualna wartość i to: 2
aktualna wartość i to: 3
aktualna wartość i to: 4
aktualna wartość i to: 5
aktualna wartość i to: 6
aktualna wartość i to: 7
aktualna wartość i to: 8
aktualna wartość i to: 9
aktualna wartość i to: 10

In [107]:
i = 0
while True:
  i = i + 1
  if (i % 3 == 0):
    continue            # continue -> wraca do początku przetwarzania pętli while
  if (i >= 15):
    break               # while -> przerywa przetwarzanie pętli while
  print(f"{i}")

print(f"Aktualna wartość i to: {i}")

1
2
4
5
7
8
10
11
13
14
Aktualna wartość i to: 16

In [113]:
i = 10

i = i + 1
print(i)

i += 1        # i = i + 1
print(i)

i -= 1        # i = i - 1
print(i)

i //= 2       # i = i // 2
print(i)

i %= 2        # i = i % 2
print(i)

11
12
11
5
1

In [114]:
i = 5 ** 2      # ** - potęgowanie odpowiednik ^
print(i)

25

In [116]:
a = 'Ala'

b = a * 10

print(b)

AlaAlaAlaAlaAlaAlaAlaAlaAlaAla

In [125]:
a = 5
b = 10

c = a > b       # większe
c = a < b       # mniejsze
c = a == b      # równe
c = a != b      # nie równe

c = a > b       # większe

#print(f"{not c}")     # not c -> negacja c

print("Tabela Boolea dla operacji AND")
for a in [True, False]:
  for b in [True, False]:
    print(f"{a} {b} {a and b}")

for i in range(1, 101):
  if i % 3 == 0 and i % 10 == 0:
    print(f"Liczba {i} jest podzielna przez 3 oraz 10")

print("Tabela Boolea dla operacji OR")
for a in [True, False]:
  for b in [True, False]:
    print(f"{a} {b} {a or b}")    

for i in range(1, 101):
  if i % 3 == 0 or i % 10 == 0:
    print(f"Liczba {i} jest podzielna przez 3 lub 10")

Tabela Boolea dla operacji AND
True True True
True False False
False True False
False False False
Liczba 30 jest podzielna przez 3 oraz 10
Liczba 60 jest podzielna przez 3 oraz 10
Liczba 90 jest podzielna przez 3 oraz 10
Tabela Boolea dla operacji OR
True True True
True False True
False True True
False False False
Liczba 3 jest podzielna przez 3 lub 10
Liczba 6 jest podzielna przez 3 lub 10
Liczba 9 jest podzielna przez 3 lub 10
Liczba 10 jest podzielna przez 3 lub 10
Liczba 12 jest podzielna przez 3 lub 10
Liczba 15 jest podzielna przez 3 lub 10
Liczba 18 jest podzielna przez 3 lub 10
Liczba 20 jest podzielna przez 3 lub 10
Liczba 21 jest podzielna przez 3 lub 10
Liczba 24 jest podzielna przez 3 lub 10
Liczba 27 jest podzielna przez 3 lub 10
Liczba 30 jest podzielna przez 3 lub 10
Liczba 33 jest podzielna przez 3 lub 10
Liczba 36 jest podzielna przez 3 lub 10
Liczba 39 jest podzielna przez 3 lub 10
Liczba 40 jest podzielna przez 3 lub 10
Liczba 42 jest podzielna przez 3 lub 10
Liczba 45 jest podzielna przez 3 lub 10
Liczba 48 jest podzielna przez 3 lub 10
Liczba 50 jest podzielna przez 3 lub 10
Liczba 51 jest podzielna przez 3 lub 10
Liczba 54 jest podzielna przez 3 lub 10
Liczba 57 jest podzielna przez 3 lub 10
Liczba 60 jest podzielna przez 3 lub 10
Liczba 63 jest podzielna przez 3 lub 10
Liczba 66 jest podzielna przez 3 lub 10
Liczba 69 jest podzielna przez 3 lub 10
Liczba 70 jest podzielna przez 3 lub 10
Liczba 72 jest podzielna przez 3 lub 10
Liczba 75 jest podzielna przez 3 lub 10
Liczba 78 jest podzielna przez 3 lub 10
Liczba 80 jest podzielna przez 3 lub 10
Liczba 81 jest podzielna przez 3 lub 10
Liczba 84 jest podzielna przez 3 lub 10
Liczba 87 jest podzielna przez 3 lub 10
Liczba 90 jest podzielna przez 3 lub 10
Liczba 93 jest podzielna przez 3 lub 10
Liczba 96 jest podzielna przez 3 lub 10
Liczba 99 jest podzielna przez 3 lub 10
Liczba 100 jest podzielna przez 3 lub 10

In [135]:
a = False

b = 2 == 7

c = []  # False (fałsz)
print(f"c: {type(c)}")

if not c: 
  print("lista c nie ma żadnych elementów i jest fałszem")

d = ()  # False (fałsz)
print(f"d: {type(d)}")

if not d: 
  print("krotka d nie ma żadnych elementów i jest fałszem")

e = {}  # False (fałsz)
print(f"e: {type(e)}")

if not e: 
  print("słownik e nie ma żadnych elementów i jest fałszem")

g = 5 - 5 # False (fałsz)
print(f"g: {type(g)}")

if not g: 
  print("wartość zero jest fałszem")

z = None # False (fałsz) 
print(f"z: {type(z)}")

if not z:
  print("None jest fałszem")

c: <class 'list'>
lista c nie ma żadnych elementów i jest fałszem
d: <class 'tuple'>
krotka d nie ma żadnych elementów i jest fałszem
e: <class 'dict'>
słownik e nie ma żadnych elementów i jest fałszem
g: <class 'int'>
wartość zero jest fałszem
z: <class 'NoneType'>
None jest fałszem

In [144]:
x = 0b0011            # OR dla każdego bitu z obu liczb czyli | 0 | 0 | 1 | 1 |
y = 0b1100            #                                       | 1 | 1 | 0 | 0 |
                      # OR                                    | 1 | 1 | 1 | 1 |

print(f"x = {x}")
print(f"y = {y}")

print(f"x + y = {x + y}")
print(f"x | y = {x | y}")

z = x | y
print("x {0:{fill}8b}".format(x, fill='0'))
print("y {0:{fill}8b}".format(y, fill='0'))
print("wynik {0:{fill}8b}".format(z, fill='0'))

x = 3
y = 12
x + y = 15
x | y = 15
x 00000011
y 00001100
wynik 00001111

In [153]:
lubi_jablka = 0b0001
lubi_banany = 0b0010
lubi_cytryny = 0b0100
lubi_pomarancze = 0b1000

slownik = {"ala": lubi_jablka + lubi_banany, "basia": lubi_jablka + lubi_cytryny, "kasia": lubi_jablka + lubi_pomarancze + lubi_cytryny}

for k, v in slownik.items():
  print(f"{k} kod: {v} ", end='')
  if v & lubi_jablka:
    print("lubi jabłka ", end='')
  if v & lubi_banany:
    print("lubi banany ", end='')
  if v & lubi_cytryny:
    print("lubi cytryny ", end='')        
  if v & lubi_pomarancze:
    print("lubi pomarancze", end='')    
  print("")

ala kod: 3 lubi jabłka lubi banany
basia kod: 5 lubi jabłka lubi cytryny
kasia kod: 13 lubi jabłka lubi cytryny lubi pomarancze

In [159]:
a = [5]
b = a

if a == b:
  print("obiekty mają takie same wartości")

print(id(a))
print(id(b))

if a is b:
  print("To ten sam obiekt i zajmuje to samo miejsce w pamięci")
else:
  print("To są dwa różne obiekty")

obiekty mają takie same wartości
140486917780496
140486917780496
To ten sam obiekt i zajmuje to samo miejsce w pamięcie

In [160]:
a = [5]
b = [5]

if a == b:
  print("obiekty mają takie same wartości")

print(id(a))
print(id(b))

if a is b:
  print("To ten sam obiekt i zajmuje to samo miejsce w pamięci")
else:
  print("To są dwa różne obiekty")

obiekty mają takie same wartości
140486917649184
140486918135632
To są dwa różne obiekty

In [163]:
a = [5]
b = [5]

c = a is b 
print(c)

False

In [165]:
a = 5

print(type(a))

c = type(a) is int

print(c)

<class 'int'>
True

In [169]:
a = ["5."]

if type(a) is int:
  print("a jest zmienną całkowitoliczbową")
elif type(a) is str:
  print("a jest zmienną tpu napis")  
elif type(a) is float:
  print("a jest zmienną tpu zmiennoprzecinkowego")    
else:
  print("Nie wiem co to za typ danych")

Nie wiem co to za typ danych

In [174]:
zoo = ['pies', 'kot', 'mysz', 'papuga', 'słoń', 'lew']

zwierze = input("Podaj nazwę zwierzęcia: ")

if zwierze in zoo:
  print(f"{zwierze} jest w naszym zoo")
else:
  zoo.append(zwierze)
  print(f"w naszym zoo są teraz takie zwierzęta: {zoo}")

Podaj nazwę zwierzęcia: wąż
w naszym zoo są teraz takie zwierzęta: ['pies', 'kot', 'mysz', 'papuga', 'słoń', 'lew', 'wąż']

In [176]:
napis = "Ala ma kota"

litera = 'm'

for l in napis:
  if l == litera:
    print(f"litera {litera} występuje w napisie {napis}")

if litera in napis:
  print(f"litera {litera} występuje w napisie {napis}")

litera m występuje w napisie Ala ma kota
litera m występuje w napisie Ala ma kota