<a href="https://colab.research.google.com/github/rroszczyk/ecdl_python/blob/main/ecdl_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Napis")
print('Napis')

Napis
Napis

In [2]:
s = '''I tu się zaczyna bardzo długi tekst w kilku linijkach
to jest druga
trzecia'''

print(s)

I tu się zaczyna bardzo długi tekst w kilku linijkach
to jest druga
trzecia

In [3]:
print("To jest tekst z postrofem ' to był on")

To jest tekst z postrofem ' to był on

In [5]:
print('tu ma być tekst z apostrofem - \' to jest apostrof')

tu ma być tekst z apostrofem - ' to jest apostrof

In [6]:
print('\n.\n.\n.')   # \n przejście do nowej linii
print('\t.\t.\t.')   # \t znak tabulatora

.
.
.
	.	.	.

In [9]:
print(".", ".", ".")
print(".", ".", ".", sep='')
print(".", ".", ".", sep='\t')
print(".", ".", ".", sep='\n')

. . .
...
.	.	.
.
.
.

In [11]:
print("ala ma kota", sep="\n", end=".")
print("", "ala", "ma", "kota", sep="\n", end=".")

ala ma kota.
ala
ma
kota.

In [14]:
a = 1
b = 2

print(a, b)
print("a = " + str(a) + ", b = " + str(b))
print(f"a = {a}, b = {b}")

1 2
a = 1, b = 2
a = 1, b = 2

In [16]:
print("-"*40)

----------------------------------------

In [18]:
print('{} {}'.format('pierwszy', 'drugi'))
print('{1} {0}'.format('pierwszy', 'drugi'))

pierwszy drugi
drugi pierwszy

In [19]:
a = 1
b = 2

print('{} {}'.format(a, b))
print('{0} {1}'.format(a, b))       # jeśli pominiemy indeksy 0, 1 to będzie identycznei wyglądało bo jest to domyślne
print('{1} {0}'.format(a, b))

1 2
1 2
2 1

In [25]:
print('"{}"'.format('tekst'))
print('"{:10}"'.format('tekst'))       # tekst został wydłużony spacjami do rozmiaru 10 znaków - justowanie lewostronne
print('"{:<10}"'.format('tekst'))      # tekst został wydłużony spacjami do rozmiaru 10 znaków - justowanie prawostronne
print('"{:>10}"'.format('tekst'))      # tekst został wydłużony spacjami do rozmiaru 10 znaków - justowanie prawostronne
print('"{:^10}"'.format('tekst'))      # tekst został wydłużony spacjami do rozmiaru 10 znaków - centrowanie

"tekst"
"tekst     "
"tekst     "
"     tekst"
"  tekst   "

In [26]:
print('{:_<10}'.format('tekst'))      # tekst został wydłużony podłogami do rozmiaru 10 znaków - justowanie prawostronne
print('{:_>10}'.format('tekst'))      # tekst został wydłużony podłogami do rozmiaru 10 znaków - justowanie prawostronne
print('{:_^10}'.format('tekst'))      # tekst został wydłużony podłogami do rozmiaru 10 znaków - centrowanie

tekst_____
_____tekst
__tekst___

In [29]:
s = "to jest długi teskst który chemy lekko przyciąć"

print(f'{s[:10]}...')
print('{:.10}...'.format(s))

to jest dł...
to jest dł...

In [34]:
print('{:_<10.5}...'.format(s))   # wyświetlany tkest składa się z 5 pierwszysch znaków
                                  # i został uzupełniony do 10 znaków podłogą
print('{:.10}... -> {}'.format(s, s))

to je_____...
to jest dł... -> to jest długi teskst który chemy lekko przyciąć

In [35]:
liczba = 123

print('{}'.format(liczba))        # formatowanie domyślne - wyświetlamy po prostu zmienną
print('{:d}'.format(liczba))      # formatowanie w trybie wypisywania liczb dziesiętnych

123
123

In [36]:
print('"{:4d}"'.format(liczba))      # formatowanie w trybie wypisywania liczb dziesiętnych - liczba zostanie uzupełniona spacjami do 4 pozycji

" 123"

In [38]:
print(liczba)
print('{:04}'.format(liczba))

123
0123

In [39]:
import math
print(math.pi)

3.141592653589793

In [40]:
print('{:f}'.format(math.pi))

3.141593

In [41]:
print('{:.2f}'.format(math.pi))       # wyświetlenie liczby obciętej do 2 miejsc po przecinku

3.14

In [42]:
print('{:06.2f}'.format(math.pi))     # liczba ma składać się z 6 znaków, z czego 2 po przecinku i uzupełniamy 0 na początku

003.14

In [43]:
print('{:06.4f}'.format(math.pi))     # liczba ma składać się z 6 znaków, z czego 4 po przecinku i uzupełniamy 0 na początku

3.1416

In [49]:
liczba = 75

print('{:+d}'.format(liczba))         # liczba ze znakiem '+'
print('{:+d}'.format(-liczba))        # liczba ze znakiem '-'

print('{: d}'.format(liczba))         # liczba ze znakiem ale tylko '-'
print('{: d}'.format(-liczba))        # liczba ze znakiem ale tylko '-'

+75
-75
 75
-75

In [53]:
liczba = 65
print('"{:=5d}"'.format(liczba))
print('"{:=+5d}"'.format(liczba))
print('"{:=+5d}"'.format(-liczba))

"   65"
"+  65"
"-  65"

In [58]:
a = int(input("Podaj liczbę a: "))
b = int(input("Podaj liczbę b: "))
suma = a + b

print('{:=5d}'.format(a))
print('{:=+5d}'.format(b))
print('-'*6)
print('{:=5d}'.format(suma))

Podaj liczbę a: 100
Podaj liczbę b: -5
  100
-   5
------
   95

In [59]:
# napisać kalkulator wykonujący operację mnożenia pod kreską

In [61]:
osoba = {'imie': 'Piotr', 'nazwisko': 'Kowalski'}

print('{imie} {nazwisko}'.format(**osoba))
print('{imie} {nazwisko}'.format(imie = 'Anna', nazwisko = 'Kowalska'))

Piotr Kowalski
Anna Kowalska

In [63]:
piotr = {'imie': 'Piotr', 'nazwisko': 'Kowalski'}
anna = {'imie': 'Anna', 'nazwisko': 'Kowalska'}

In [65]:
print('{p[imie]} {p[nazwisko]}, {a[imie]} {a[nazwisko]}'.format(p=piotr, a=anna))

Piotr Kowalski, Anna Kowalska

In [67]:
liczby = [1, 3, 5, 7, 11, 13, 17]

print('{l[4]} {l[5]}'.format(l=liczby))     # liczby indeksujemy od 0

11 13

In [70]:
class Osoba():
  def __init__(self, imie, nazwisko):
    self.imie = imie
    self.nazwisko = nazwisko

  def __str__(self):                          # obiekt zamieniony na string
    return f"{self.imie} {self.nazwisko}"
                                              # reprezentacja obiektu                                              
  def __repr__(self):
    return f"Osoba: {self.imie} {self.nazwisko}"

piotr = Osoba("Piotr", "Kowalski")
anna = Osoba("Anna", "Kowalska")

print('{p.imie} {p.nazwisko}, {a.imie} {a.nazwisko}'.format(p=piotr, a=anna))

print('{0!s} -> {0!r}'.format(anna))

Piotr Kowalski, Anna Kowalska
Anna Kowalska -> Osoba: Anna Kowalska

In [71]:
from datetime import datetime

In [72]:
dzis = datetime.now()

In [73]:
print(dzis)

2022-04-30 08:12:36.969217

In [81]:
print('data: {:%Y-%m-%d}'.format(dzis))
print('czas: {:%H:%M:%S}'.format(dzis))

print('{:%y-%m-%d %H:%M}'.format(dzis))  # y - rok dwu cyfrowy, Y - rok cztero cyfrowy

data: 2022-04-30
czas: 08:12:36
22-04-30 08:12

In [83]:
dowolna_data = datetime(2001, 2, 3, 4, 5)

print('{:%Y-%m-%d %H:%M}'.format(dowolna_data))

2001-02-03 04:05

In [84]:
print('{} {:{width}.{prec}f}'.format('Pi:', math.pi, width=6, prec=4))

Pi: 3.1416

In [85]:
dzis = datetime.now()
print('{:{dfmt} {tfmt}}'.format(dzis, dfmt='%Y-%m-%d', tfmt='%H:%M'))

2022-04-30 08:21