<a href="https://colab.research.google.com/github/rroszczyk/ecdl_python/blob/main/ecdl_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a = 10
b = 5
c = a + b
tekst = f"Wynik dodawania liczb: {a} oraz {b} to jest: {c}"
print(tekst)

Wynik dodawania liczb: 10 oraz 5 to jest: 15

In [4]:
print("To jest jakiś napis")
print('To jest inny napis')

print("""Litwo! Ojczyzno moja! ty jesteś jak zdrowie:
Ile cię trzeba cenić, ten tylko się dowie,
Kto cię stracił. Dziś piękność twą w całej ozdobie
Widzę i opisuję, bo tęsknię po tobie.""")
print('''To jest napis czwarty''')

To jest jakiś napis
To jest inny napis
Litwo! Ojczyzno moja! ty jesteś jak zdrowie:
Ile cię trzeba cenić, ten tylko się dowie,
Kto cię stracił. Dziś piękność twą w całej ozdobie
Widzę i opisuję, bo tęsknię po tobie.
To jest napis czwarty

In [7]:
print('To jest jakiś napis wymyślony przez "Kowalskiego"')
print("To jest jakiś napis wymyślony przez 'Kowalskiego'")

To jest jakiś napis wymyślony przez "Kowalskiego"
To jest jakiś napis wymyślony przez 'Kowalskiego'

In [8]:
print("To jest wartość zmiennej a:", a)
print(f"To jest wartość zmiennej a: {a}")

To jest wartość zmiennej a: 10
To jest wartość zmiennej a: 10

In [9]:
print("To są wartośi zmiennych a:", a, "b:", b, "c:", c)

To są wartośi zmiennych a: 10 b: 5 c: 15

In [10]:
print(f"To są wartośi zmiennych a: {a} b: {b} c: {c}")

To są wartośi zmiennych a: 10 b: 5 c: 15

In [15]:
# To jest linijka kodu który nie zostanie wykonany
# to jest druga linijka kodu który nie zostanie wykonany
print("To jest napis który zostanie wyświetlony")
#print("To jest napis który nie będzie wyświetlony")

To jest napis który zostanie wyświetlony

In [16]:
# wartość dodawana
a = 10
# druga wartość dodawana
b = 5
# operacja dodawania
c = a + b
tekst = f"Wynik dodawania liczb: {a} oraz {b} to jest: {c}"
# wyświetlanie wyniku
print(tekst)

Wynik dodawania liczb: 10 oraz 5 to jest: 15

In [20]:
print(quit.__doc__)
print(print.__doc__)

Exit IPython. Autocallable, so it needn't be explicitly called.

    Parameters
    ----------
    keep_kernel : bool
      If True, leave the kernel alive. Otherwise, tell the kernel to exit too
      (default).

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [51]:
a = input()
print(f"typ zmiennej a: {type(a)}, wartość zmiennej a: {a}")
a = int(a)
print(f"typ zmiennej a po konwersji typu: {type(a)}, wartość zmiennej a: {a}")
b = input()
b = int(b)
c = a + b
tekst = f"Wynik dodawania liczb: {a} oraz {b} to jest: {c}"
print(tekst)
print(f"typ zmiennej a: {type(a)}, b: {type(b)}, c: {type(c)}")

10
typ zmiennej a: <class 'str'>, wartość zmiennej a: 10
typ zmiennej a po konwersji typu: <class 'int'>, wartość zmiennej a: 10
2
Wynik dodawania liczb: 10 oraz 2 to jest: 12
typ zmiennej a: <class 'int'>, b: <class 'int'>, c: <class 'int'>

In [31]:
a = 10
b = input()
print(type(a))
print(type(b))

10
<class 'int'>
<class 'str'>

In [40]:
a = "10"
b = 10

In [47]:
a = "10"
b = 10

print(f"typ zmiennej a: {type(a)}, wartość zmiennej a: {a}")
print(f"typ zmiennej b: {type(b)}, wartość zmiennej b: {b}")
a = int(a)
print(f"typ zmiennej a po konwersji typu: {type(a)}")

c = a + b
print(c)

typ zmiennej a: <class 'str'>, wartość zmiennej a: 10
typ zmiennej b: <class 'int'>, wartość zmiennej b: 10
typ zmiennej a po konwersji typu: <class 'int'>
20

In [48]:
a = "10"
b = 10

print(f"typ zmiennej a: {type(a)}, wartość zmiennej a: {a}")
print(f"typ zmiennej b: {type(b)}, wartość zmiennej b: {b}")
b = str(b)
print(f"typ zmiennej b po konwersji typu: {type(b)}")

c = a + b
print(c)

typ zmiennej a: <class 'str'>, wartość zmiennej a: 10
typ zmiennej b: <class 'int'>, wartość zmiennej b: 10
typ zmiennej b po konwersji typu: <class 'str'>
1010

In [53]:
a = int('33534543')
b = 0x324254

c = a + b
print(f"{c}")

36828323

In [68]:
a = 3.1415
b = '3'

print(f"{type(a)}, {type(b)}")

# to daje zły wynik bo a jest typu float
c = int(a) * int(b)
print(f"{c}")

# teraz wynik powinien być poprawny
c = float(a) * int(b)
print(f"typ zmiennej c to: {type(c)}, a jej wartość to: {c}")

<class 'float'>, <class 'str'>
9
typ zmiennej c to: <class 'float'>, a jej wartość to: 9.4245

In [70]:
a = "3.1415"
b = 10

print(a + str(b))

3.141510

In [75]:
a = "3.1415"
b = 0x100
c = .7

# konwertujemy na zmiennopozycyjnego float
z = float(a) + float(b) + c
print(f"float: {z}")

# konwertujemy na stałopozycyjnego int
z = int(float(a)) + b + int(c)
print(f"int: {z}")

# konwertujemy na napis
z = a + str(b) + str(c)
print(f"sting: {z}")

# z = a + b + c

float: 259.8415
int: 259
sting: 3.14152560.7

In [78]:
a = '1'
b = 100

print(f"type(a): {type(a)}, type(b): {type(b)}")

# ord(a) -> ord('1') -> zwraca indeks znaku '1' w tabeli ASCII czli 49

c = ord(a) + b   # a tu mamy już int(49) + int(100) -> 149
print(f"{c}")

# int(a) -> int('1') -> zwraca wartość całkowitoliczbową 1

c = int(a) + b   # a tu mamy już int(1) + int(100) -> 101
print(f"{c}")

type(a): <class 'str'>, type(b): <class 'int'>
149
101

In [79]:
print(str(65))   # konwertuje liczbę 65 na napis "65"
print(chr(65))   # zwraca znak z tabeli ASCII o indeksie 65 czyli literę 'A'

65
A

In [84]:
a = "ala ma kota"

b = a[0:3] + " " + a[7:len(a)]

print(f"długość napisu a w znakach to: {len(a)}")
print(f"długość napisu b w znakach to: {len(b)}")

długość napisu a w znakach to: 11
długość napisu b w znakach to: 8

In [91]:
a = "ala ma kota"
A = a.upper()   # upper -> zamienia małe litery na wielkie
print(A)

z = A.lower()   # lower -> zamienia wielkie litery na małe
print(z)

x = a.capitalize() # capitalize -> zamienia litery na 'jak w zdaniu'
print(x)
y = A.capitalize() # capitalize -> zamienia litery na 'jak w zdaniu'
print(y)

ALA MA KOTA
ala ma kota
Ala ma kota
Ala ma kota

In [92]:
a = "Ala"
b = "ma"
c = "kota"

In [93]:
print(f"{a} {b} {c}")

Ala ma kota

In [94]:
z = (a, b, c)
print(f"{z}")

('Ala', 'ma', 'kota')

In [105]:
z[-1] # ostatni element kolekcji (tuple, krotka)
z[0]  # pierwszy element kolekcji (tuple, krotka)

print(len(z))
A, B, _ = z         # pobranie pierwszych dwu elementów z kolekcji - ignorujemy trzeci

print(z[:])         # wyświetla wszystkie elementy kolekcji (tuple, krotka)

print(f"{A}, {B}")

3
Ala, ma

In [114]:
t = (1, 2, 3, 4, 5, 6, 7, 8, 9)
print(t[2:])
print(f"type(t): {type(t)}")

(3, 4, 5, 6, 7, 8, 9)
type(t): <class 'tuple'>

In [132]:
t = ("Ala", 0x100, 3.14)      # brak możliwości operacji na elementach
print(f"{t}")

t = (t[0], t[-1])             # "obejście" problemu z usuwaniem elemenów z tuple
print(f"{t}")                 # został utworzony nowy tuple zawierający tylko te elementy które chcielśmy

('Ala', 256, 3.14)
('Ala', 3.14)

In [143]:
t = ("Ala", 0x100, 3.14, 100, 100, 200, 80, 30)
print(f"{t}")

t1 = (t[0], t[2:])
print(f"{t1}")  

t2 = (t[0], *t[2:])   # * pozwala nam na konwersję tuple na elementy tuple
print(f"{t2}")

('Ala', 256, 3.14, 100, 100, 200, 80, 30)
('Ala', (3.14, 100, 100, 200, 80, 30))
('Ala', 3.14, 100, 100, 200, 80, 30)

In [153]:
lista_z_jednym_tuple = [t2]
lista_z_tuple = [*t2]
print(f"type(lista_z_tuple): {type(lista_z_tuple)}")
print(lista_z_tuple)
print(lista_z_jednym_tuple)

type(lista_z_tuple): <class 'list'>
['Ala', 3.14, 100, 100, 200, 80, 30]
[('Ala', 3.14, 100, 100, 200, 80, 30)]

In [160]:
print(len(lista_z_tuple))
print(len(lista_z_jednym_tuple))

7
1

In [161]:
lista_z_tuple.remove('Ala')               # usuwa element o wartości 'Ala' z listy
lista_z_tuple = lista_z_tuple.reverse()   # odraca kolejność elementów listy

In [163]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(lista)
print(f"type(lista): {type(lista)}")

[1, 2, 3, 4, 5, 6, 7, 8, 9]
type(lista): <class 'list'>

In [164]:
lista[1] = 100        # zamienia element o indeksie 1 na warość 100
print(lista)

[1, 100, 3, 4, 5, 6, 7, 8, 9]

In [122]:
print(lista[5:len(lista)])  # elementy od 5 do ostateniego
print(len(lista))           # zwraca liczbę elementów listy
print(lista[0:2])           # zwraca elementy od 0 do 1 (<2)

[6, 7, 8, 9]
9
[1, 2]

In [126]:
lista.append(0)             # dodanie 0 do listy
lista.remove(2)             # usunięcie elementu o indeksie 2

In [127]:
print(lista)

[1, 3, 4, 5, 6, 7, 8, 9, 0, 0]

In [165]:
slownik = {}      # tworzy pusty słownik
print(f"type(slownik): {type(slownik)}")

type(slownik): <class 'dict'>

In [168]:
slownik = {"koń" : "horse", "pies" : "dog", "kot" : "cat"}

print(slownik["kot"])

slownik["słoń"] = "elephant"

cat

In [169]:
print(slownik)

{'koń': 'horse', 'pies': 'dog', 'kot': 'cat', 'słoń': 'elephant'}

```
if warunek1:
  # czynność 1
elif warunek2:
  # czynność 2
elif warunek3:
  # czynność 3
else:
  # inna czynność
```

In [170]:
a = True
b = False

In [171]:
print(f"type(a): {type(a)}")

type(a): <class 'bool'>

In [174]:
a = (5 == 6)
print(f"type(a): {type(a)}, wartość a: {a}")

type(a): <class 'bool'>, wartość a: False

In [179]:
a = 2
b = (a != 5)        # != -> nie równa się
c = (a == 5)        # == -> równa się
print(b)

True

In [184]:
a = int(input("Zgadnij jaka liczba została ukryta: "))

if a == 5:
  print("Super a jest równe 5")
  print("więc nie musimy nic dodawać")
else:
  print("No niestety ale nie jest równe 5")
  print(f"wartość a to: {a}")
print("A ten napis pojawi się zawsze")

Zgadnij jaka liczba została ukryta: 5
Super a jest równe 5
więc nie musimy nic dodawać
A ten napis pojawi się zawsze

In [185]:
x = int(input("Podaj liczbę:"))

a = x / 2
print(f"type(a): {type(a)} wartość a to: {a}")

Podaj liczbę:5
type(a): <class 'float'> wartość a to: 2.5

In [187]:
x = int(input("Podaj liczbę:"))

if (int(x / 2) * 2 == x):
  print("mamy liczbę parzystą")
else:
  print("liczba nieparzysta")

Podaj liczbę:4
mamy liczbę parzystą

In [189]:
x = int(input("Podaj liczbę:"))

if x % 2 == 0:                        # % - dzielenie modulo (z resztą)
  print("mamy liczbę parzystą")
else:
  print("liczba nieparzysta")

Podaj liczbę:4
mamy liczbę parzystą

In [191]:
import math

print(math.sqrt(25))

5.0

In [198]:
import math

a = int(input("Podaj wartość a: "))
b = int(input("Podaj wartość b: "))
c = int(input("Podaj wartość c: "))
print(f"Rozwiązujemy równanie w postaci y={a}x^2+{b}x+c")

# liczymy deltę
d = b ** 2 - 4 * a * c      # b ** 2 -> b^2 (b kwadrat)

if d < 0:
  print("brak rozwiązań w ciele liczb rzeczywistych")
else:
  print(f"delta równa się: {d} liczymy dalej")
  if d == 0:
    x = -b / 2 * a
    print(f"Obliczona wartość x: {x}")
  else:
    x1 = (-b + math.sqrt(d)) / 2*a    # math.sqrt - pierwiastek (z biblioteki math)
    x2 = (-b - math.sqrt(d)) / 2*a
    print(f"Obliczone wartości x to odpowiedni {x1} oraz {x2}")

Podaj wartość a: 2
Podaj wartość b: 10
Podaj wartość c: 3
Rozwiązujemy równanie w postaci y=2x^2+10x+c
delta równa się: 76 liczymy dalej
Obliczone wartości x to odpowiedni -1.282202112918652 oraz -18.717797887081346

```
for element in kolekcja:
  # blok instrukcji
```

In [200]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for element in lista:
  print(f"kolejny element listy to: {element}")

kolejny element listy to: 1
kolejny element listy to: 2
kolejny element listy to: 3
kolejny element listy to: 4
kolejny element listy to: 5
kolejny element listy to: 6
kolejny element listy to: 7
kolejny element listy to: 8
kolejny element listy to: 9

In [205]:
for element in lista:
  if element % 2 == 0:
    print(f"element listy {element} jest parzysty")
  else:
    print(f"element listy {element} jest nieparzysty")

element listy 1 jest nieparzysty
element listy 2 jest parzysty
element listy 3 jest nieparzysty
element listy 4 jest parzysty
element listy 5 jest nieparzysty
element listy 6 jest parzysty
element listy 7 jest nieparzysty
element listy 8 jest parzysty
element listy 9 jest nieparzysty

In [207]:
for element in lista:
  print(f"element listy {element} jest ", end="")
  if element % 2 == 0:
    print("parzysty")
  else:
    print("nieparzysty")

element listy 1 jest nieparzysty
element listy 2 jest parzysty
element listy 3 jest nieparzysty
element listy 4 jest parzysty
element listy 5 jest nieparzysty
element listy 6 jest parzysty
element listy 7 jest nieparzysty
element listy 8 jest parzysty
element listy 9 jest nieparzysty

In [210]:
print(1, 2, 3, 4, sep='-')

1-2-3-4

In [247]:
def colored(r, g, b, text):
  return "\033[38;2;{};{};{}m{}\033[38;2;255;255;255m".format(r, g, b, text)

In [250]:
cyfry = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for a in cyfry:
  for b in cyfry:
    if b >= a :                             # cyfry na osi oraz nad
      c = a * b
      if c < 10:
        print(" ", end="")
      if c < 100:
        print(" ", end="")
      if a == b:
        txt = colored(0, 0, 255, f"{c}")
      else:
        txt = colored(255, 0, 0, f"{c}")
      print(txt, end="")
      if b != 10:
        print(", ", end="")
    else:                                   # cyfry pod osią
      c = a * b
      if c < 10:
        print(" ", end="")
      if c < 100:
        print(" ", end="")
      txt = colored(0, 255, 0, f"{c}")
      print(txt, end="")
      if b != 10:
        print(", ", end="")
  print("")

  1,   2,   3,   4,   5,   6,   7,   8,   9,  10
  2,   4,   6,   8,  10,  12,  14,  16,  18,  20
  3,   6,   9,  12,  15,  18,  21,  24,  27,  30
  4,   8,  12,  16,  20,  24,  28,  32,  36,  40
  5,  10,  15,  20,  25,  30,  35,  40,  45,  50
  6,  12,  18,  24,  30,  36,  42,  48,  54,  60
  7,  14,  21,  28,  35,  42,  49,  56,  63,  70
  8,  16,  24,  32,  40,  48,  56,  64,  72,  80
  9,  18,  27,  36,  45,  54,  63,  72,  81,  90
 10,  20,  30,  40,  50,  60,  70,  80,  90, 100

<class 'range'>